* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(28, 28, 34);
  word-wrap: break-word;
}
html,
body {
  overflow-x: hidden;
}
html {
  background-color: #f4efec;
  font-size: 14px;
  line-height: 1.7;
}
body {
  border-top: 5px solid #00355a;
}

a {
  color: rgb(22, 61, 170);
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 1em 0;
  margin: 0 auto;
}
pre {
  background-color: #2d2d2d;
  color: #dfdfe7;
  padding: 0.5em;
  margin: 0.5em 0;
  overflow: auto;
  border: none;
}
code {
  background-color: rgb(216, 215, 212);
  padding: 0.1em 0.5em;
  border-radius: 0.3em;
  margin: 0 0.1em;
  color: rgb(41, 40, 40);
  text-shadow: 0 0 15px #888888;
  /* box-shadow: inset 0px 5px 5px 1px #bbb9b9; */
  line-height: 1;
}
pre > code {
  background: none;
  color: rgb(215, 228, 217);
  text-shadow: none;
  box-shadow: none;
}
ul,
ol {
  padding: 1em 0 1em 2em;
}
h1 {
  font-size: 1.8rem;
  border-bottom: 1px solid #222;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 1.4rem;
  margin: 1em 0 0.4em;
}
h3 {
  font-size: 1.2rem;
  margin-top: 0.8em;
}
hr {
  margin-top: 2rem;
}
